.details-product {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
    margin-top: 80px;
    /* background-color: lightcoral; */
}

.product-details-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    /* align-items: center; */
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 23px 16px 101px 0px rgba(0,0,0,0.38);
    padding: 5%;
    min-height: 500px;
    width: 80%;
    position: relative;
}

.details-image {
    width: 30%;
    height: 100%;
}

.details-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.details-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 2%;
    width: 60%;
}

.details-title {
    font-size: 1.5rem;
    font-weight: 500;
    /* margin-bottom: 20px; */
}

.details-description {
    font-size: 1.2rem;
    /* margin-bottom: 20px; */
}

.details-bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    /* margin-top: 20px; */
}

.details-price {
    font-size: 1.2rem;
    font-weight: 500;
    /* margin-bottom: 20px; */
    /* background-color: lightgoldenrodyellow; */
}

.details-add-to-cart-btn {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #FF7D29;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.details-add-to-cart-btn:hover {
    background-color: #ff7f29b1;
}

.details-add-to-cart-btn:active {
    background-color: #ff7f2984;
}

/* Responsive */

@media (max-width: 800px) {
    .product-details-container {
        flex-direction: column;
        width: 90%;
        min-width: none;
        padding: 7%;
    }

    .details-image {
        width: 100%;
        height: 50%;
    }

    .details-right {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .product-details-container {
        padding: 10%;
    }

    .details-image {
        height: 40%;
    }

    .details-right {
        padding: 0;
    }

    .details-title {
        font-size: 1.3rem;
    }

    .details-description {
        font-size: 1.1rem;
    }

    .details-price,
    .details-add-to-cart-btn {
        text-align: center;
        width: 100%;
        font-size: 0.8rem;
    }
}

@media (max-width: 400px) {
    .details-title {
        font-size: 1.1rem;
    }

    .details-description {
        font-size: 1rem;
    }

    .details-price,
    .details-add-to-cart-btn {
        font-size: 0.7rem;
    }
}